<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="ForgetTraffic.Service.ForgetTrafficService">
        <endpoint binding="webHttpBinding" bindingConfiguration="webHttp" contract="ForgetTraffic.DataTypes.Interfaces.IRestService" behaviorConfiguration="EdpHelpBehavior"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webHttp" writeEncoding="utf-8" transferMode="Buffered">
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <!-- -->
    <behaviors>
      <endpointBehaviors>
        <behavior name="EdpHelpBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="ForgetTrafficEntities" connectionString="metadata=res://*/ForgetTrafficEntities.csdl|res://*/ForgetTrafficEntities.ssdl|res://*/ForgetTrafficEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PCM-PC\MSSQLR2;initial catalog=ForgetTraffic;persist security info=True;user id=sa;password=sasa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ForgetTrafficEntities" connectionString="metadata=res://*/ForgetTrafficEntities.csdl|res://*/ForgetTrafficEntities.ssdl|res://*/ForgetTrafficEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=strawberry.arvixe.com;initial catalog=forgettraffic_dev_db;user id=vviana;password=vviana@2011;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </modules>
    <handlers>
      <!-- Make sure we can use this handler for any URL because we're using ReST. The default is
      for it to be used only for .svc vamos so ver -->
      <remove name="svc-Integrated-4.0"/>
      <add name="svc-Integrated-4.0" path="*" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error,Critical" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--<add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="logfiles/FtXmlTracer.log" />-->
      <add name="xml" type="System.Diagnostics.TextWriterTraceListener" initializeData="logfiles/FtTextTracer.log"/>
    </sharedListeners>
  </system.diagnostics>

  <appSettings>
    <add key="baseAdress" value="http://localhost/ForgetTraffic.Service/ForgetTrafficService.svc/"/>
    <add key="IncidentUrl" value="Incident"/>
    <add key="LogOnUrl" value="LogOn"/>
  </appSettings>
  
</configuration>