<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ForgetTrafficEntities" connectionString="metadata=res://*/ForgetTrafficEntities.csdl|res://*/ForgetTrafficEntities.ssdl|res://*/ForgetTrafficEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PCM-PC\MSSQLR2;initial catalog=ForgetTraffic;persist security info=True;user id=sa;password=sasa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>